
.transition-disabled * {
  transition: none !important; /* stylelint-disable-line declaration-no-important */
}

.hidden,
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

*.disabled {
  cursor: not-allowed;
  opacity: 0.33;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
}

html {
  font-size: 62.5%;
  background: #fff;
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(10px 13 * (100vw - 375px) / 447);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(10px 4 * (100vw - 768px) / 255);
  }
}

@media (min-width: 1024px) and (max-width: 1360px) {
  html {
    font-size: calc(8px 2 * (100vw - 1024px) / 336);
  }
}

body {
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

@media (min-width: 767px) {
  .hide-desktop {
    display: none!important;
  }
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
  line-height: 1.5;
  background-color: #ffffff;
}

h1 {
  font-family: Inter;
  font-size: 6.25rem;
  font-style: bold;
  line-height: 6.75rem;
  color: var(--text-color, #2B303D);
}

h2 {
  font-family: Inter;
  font-size: 4.5rem;
  font-style: bold;
  line-height: 5rem;
  color: var(--text-color, #2B303D);
}

.snap-to-grid {
  margin-left: 2rem;
  margin-right: 2rem;
}

.content-limiter {
  max-width: 140rem;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  height: 5rem;
  margin: 1.25rem;
}

header {
  border-bottom: 1px solid var(--border-color, #332688);
  gap: 1rem;
}

header-trans {
  border-bottom: 1px solid var(--border-color, #eaeaea);
  background-color: var(--app-bg, #fff);
  gap: 1rem;
}

html {
  font-size: 10px 
}

.btn-excl {
  color: #fff;
  border-radius: 12px;
  background-color: #2d19bc;
  padding: 0.75rem 2rem;
  height: 4rem;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.25rem;
  border: 1px;
}

.btn-icon {
  color: #fff;
  border-radius: 12px;
  background-color: #2d19bc;
  padding: 0.75rem 1.25rem;
  height: 4rem;
  border: 1px;
}

#auth .btn-excl {
  color: #fff;
  border-radius: 12px;
  background-color: #2d19bc;
  padding: 0.75rem 1rem;
  height: 3rem;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.25rem;
  border: 1px;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 3.75rem 1.75rem;
  text-decoration: none;
  font-family: Inter;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1rem;
}

.topnav-trans  a {
  float: right;
  text-align: center;
  padding: 3.25rem 1.75rem;
  text-decoration: none;
  font-family: Inter;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #2D19BC;
  transition: color 1s;
}

.topnav span {
  float: right;
  margin-top: 2.25rem;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion {
  background-color: #fff;
  color: #2B303D;
  padding: 18px;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}

.h-navbar-icon {
  color: var(--text-contrast-color, #fff);
  border-radius: 12px;
  background-color: var(--primary-color, #FFFFFF);
  padding: 0.75rem 1rem;
  min-height: 3rem;
  font: 500 16px/100% Inter, sans-serif;
  border: 1px;
  max-width: 600px;
}

#un {
  height: 5.5rem; 
  width: 16rem; 
  display: inline-flex;
}

.info {
  display: grid;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color, #ffffff26);
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.curtain-button-white {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--text-contrast-color, #F1F3F9);
}

.overlay1 {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(155deg, rgba(15, 0, 114, 1) 0%, rgba(23, 13, 93, 1) 22%, rgba(57, 41, 168, 1) 62%, rgba(44, 24, 186, 1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
}

.curtain-button {
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--text-contrast-color, #FFF);
}

.btn>a:hover {
  background: linear-gradient(135deg, rgba(48,27,195,1) 5%, rgba(24,7,135,1) 100%);
}

.btn>a:hover~a {
  background: linear-gradient(135deg, rgba(24,7,135,1) 0%, rgba(15,0,114,1) 100%);
}

.btn>a:hover prev {
  background: linear-gradient(135deg, rgba(48, 27, 195, 1) 5%, rgba(24, 7, 135, 1) 100%);;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none!important;
  }
  .killme {
    padding: 1rem 1.5rem!important;
    font-size: 1rem!important;
  }

  header {
    padding: 1rem;
  }

  #footer-flex {
    flex-direction: column;
  }

  header .topnav {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  #logo {
    height: 3.5rem;
    margin-top: 0.5rem!important;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }

  .snap-to-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .topnav a {
    display: none;
  }

  h1 {
    font-family: Inter;
    font-size: 2.75rem;
    font-style: bolder;
    line-height: 3.25rem;
  }

  h2 {
    font-family: Inter;
    font-size: 2.375rem;
    font-style: bold;
    line-height: 2.875rem;
    color: var(--text-color, #2B303D);
  }

  .btn-excl {
    font-size: 1rem;
  }

  html,
  p {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }


  footer {
    width: inherit !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 1rem !important;
  }

  .main-container {
    width: inherit !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 1rem !important;
  }

  #p1 {
    padding: 1rem !important;
    width: inherit !important;
  }

  #b1 {
    width: inherit !important;
    border-top: 1px solid var(--border-color, #ffffff26) !important;
    border-right: 0px !important;
    align-self: center !important;
  }

  #un {
    align-self: center !important;
    height: 4rem; 
    width: 12rem; 
  }

  .info {
    padding-left: 0rem !important;
    border-top: 0px !important;
    justify-content: center !important;
    flex-direction: row-reverse;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .block-padding {
    padding-top: 2.5rem
  }
}

@media (min-width: 767px) {
  .hide-desktop {
    display: none;
  }
}

.killme {
  background-color: #5545c5;
  color: #fff;
  border: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 12px;
}

.dropbtn {
  background-color: #3498DB;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {display: block;}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.text {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--text-color, #2B303D);
}

p {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.search {
  padding: 18px 24px;
  width: auto;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid var(--border-color, #EAEAEA);
  height: 1rem;
  color: var(--text-dissabled-color, #A2A7B6);
  /* Desktop/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

thead {
  color: var(--text-dissabled-color, #A2A7B6);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid var(--text-dissabled-color, #A2A7B6);
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2D19BC;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
